body {
}
.bg-black-opacity {
  background-color: rgba(0, 0, 0, 0.562);
}

.hover-primary:hover {
  color: #c19977;
}
.slider-left::after {
  content: "";
  background: url("assets/icon/icon-flash.webp");
  background-repeat: no-repeat;
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100px;
  height: 100px;
}
.slider-left {
  font-family: "Calibri" !important;
}

.border-primary {
  border-color: #c19977;
}
.productName::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #c19977;
  position: absolute;
  left: -16px;
  top: 8px;
  transform: rotate(45deg);
}

.bg-blur {
  background-color: #fcf3ec;
}

.about-us::after {
  content: "";
  position: absolute;
  background-image: url("assets/bg/logo-title.webp");
  background-repeat: no-repeat;
  top: -30px;
  left: 0;
  width: 200px;
  height: 200px;
}
.about-us::before {
  content: "";
  position: absolute;
  background-image: url("assets/bg/bg-after-title-about.webp");
  background-repeat: no-repeat;
  top: 50px;
  left: 0;
  width: 200px;
  height: 190px;
}
.img-aboutUs::after {
  content: "";
  position: absolute;
  background-image: url("assets/bg/before-img-about.webp");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  left: -100px;
  width: 100%;
  height: 450px;
  z-index: -9;
  transform: rotate(-10deg);
}
.img-aboutUs::before {
  content: "";
  position: absolute;
  background-image: url("assets/bg/before-img-about.webp");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 10px;
  right: -103px;
  width: 49%;
  height: 450px;
  z-index: -9;
  transform: rotate(207deg);
}

@media only screen and (max-width: 1024px) {
  .img-aboutUs::before,
  .img-aboutUs::before {
    display: none;
  }
}

.service-hover::after {
  content: "";
  position: absolute;
  display: none;
  top: -10px;
  left: -10px;
  width: 228px;
  height: 228px;
  border-radius: 50%;
  border: 2px solid white;
}
.service-parent:hover .service-hover::after {
  display: block;
}

.service-parent h3:hover {
  opacity: 0.6;
}

.input-popup ~ label::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #a9a9a9;
  position: absolute;
  top: 4px;
  left: -20px;
  border-radius: 5px;
}

.input-popup:checked ~ label::after {
  background-image: url(https://bizweb.dktcdn.net/100/451/095/themes/894906/assets/tick-mark.png?1664360071876);
}

.bg-home {
  background-image: url("assets/bg/slider_1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.w-220px {
  width: 220px;
}
.input-detailt-product input {
  outline: none;
  border: 1px solid black;
  padding: 8px;
  padding-left: 44px;
  position: relative;
  width: 100%;
  color: #333;
}
.input-detailt-product::after {
  content: "";
  position: absolute;
  background-image: url("/public/pencil.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 14px;
  left: 14px;
  width: 14px;
  height: 14px;
}

.form-contact input,
.form-contact textarea {
  outline: none;
  border: 1px solid #c19977;
  padding: 8px 25px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 45px;
  width: 100%;
}

.list-style::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #000;
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.MuiInputBase-root {
  background-color: white !important;
}

.dropdown-custom .MuiSelect-select {
  padding: 5px 10px;
  font-size: 14px;
}

.dropdown-custom label {
  font-size: 14px;
}

ul.MuiList-root {
  height: 200px;
}

input.MuiInputBase-input {
  padding: 5px 10px;
}
.text-input label.MuiFormLabel-root,
.text-input legend {
  font-size: 14px;
}

.hidden-label label.MuiFormLabel-root,
.text-input legend {
  display: none;
}

.menu-icon {
  background-image: url("/menu.png");
  background-size: contain;
  background-color: #c19977;
}

.swal2-container.swal2-center.swal2-backdrop-show {
  z-index: 9999;
}
